<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Anton|Gamja+Flower|Lobster|Lora|Roboto" rel="stylesheet">
</head>

<body style="background-color: <%= color %>">
  <div id="quote">
    <%- quote %>
  </div>
</body>

</html>