<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Rock+Salt" rel="stylesheet">
</head>

<body style="background-color: <%= color %>">
  <div id="quote">
    <h1>
      <%= quote %>
    </h1>
  </div>
</body>

</html>