<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Anton|Gamja+Flower|Lobster|Lora|Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
</head>

<body style="background-color: <%= color %>">
  <div id="header">
    <div id="title" class="animated fadeIn">
      <%= title %>
    </div>
    <div id="toolbar">
      <a href="/">
        <i class="fa fa-sync"></i>
      </a>
    </div>
  </div>
  <div id="quote" class="animated fadeInUp">
    <%- quote %>
  </div>
</body>

</html>